<%= form_for @building do |f| %>
	<ul>
		<% if @building.errors.any? %>
			<%= @building.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		<% end %>
	</ul>

<p>Building Details</p>
	<%= f.label :name %>
	<%= f.text_field :name %><p>
	<%= f.label :country %>
	<%= f.text_field :country %><p>
	<%= f.label :address %>
	<%= f.text_field :address %><p>
	<%= f.label :rent_per_floor %>
	<%= f.text_field :rent_per_floor %><p>
	<%= f.label :number_of_floors %>
	<%= f.text_field :number_of_floors %><p>

<!-- <p>Building Floors Available</p>
	<% Building.all.each do |b| %>
		<%= f.fields_for :offices, b do |b_field| %>
			<%= b_field.hidden_field :id %>
			<%= b_field.label b.name %>
			<%= b_field.collection_check_boxes :offices, b.empty_offices, :floor, :floor %>
		<% end %>
	<% end %>
	<br> -->


	<%= f.submit %>
<% end %>
